/******headers******/
.seccion-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-image: url("../../../assets/doctorStrange.jpeg"); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  
}
body {
  background: url('../../../src/assets/fondo.jpg');
  background-size: cover;  
  font-family: Arial, sans-serif; 
}
