body {
    background: url('../../../assets/fondo.jpg') no-repeat center center fixed;
 
    font-family: Arial, sans-serif; 
  }
label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
  }
  
  #juegosSelector {
    margin-bottom: 20px;
  }
   
  app-cartas, app-juego2, app-juego3 {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }