.container {
    font-family: 'Arial', sans-serif; 
    background-color: black; 
    color: white; 
    padding: 20px;
    text-align: center;
}
h2{
    margin-bottom: 20px;
}
.img-fluid {
    display: block;
    margin: 0 auto; 
    max-width: 100%;
    height: auto;
}

.login-button {
    margin-top: 20px;
}

.btn {
    font-family: 'Arial', sans-serif; 
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.btn-outline-primary {
    color: white;
    border: 2px solid white;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    border: 2px solid #007bff; 
}
