
 <div class="col-sm">
    <div class="card custom-card">
        <div class="row flag-container"  *ngIf="pais">
            <img src={{pais.flag}} width="80%" style="max-width: 400px;" alt="Imagen">
        </div>
        <div class="card-body" *ngIf="pregunta">
            <h2 class="card-title pregunta-text">{{pregunta.pregunta}}</h2>
            <div class="card-text">
                <div class="row mb-4">
                    <div class="col"><button class="btn-lg btn-block custom-btn" (click)="seleccionarRta(1)">{{pregunta.op1}}</button></div>
                    <div class="col"><button class="btn-lg btn-block custom-btn" (click)="seleccionarRta(2)">{{pregunta.op2}}</button></div>
                </div>
                <div class="row mb-4">
                    <div class="col"><button class="btn-lg btn-block custom-btn" (click)="seleccionarRta(3)">{{pregunta.op3}}</button></div>
                    <div class="col"><button class="btn-lg btn-block custom-btn" (click)="seleccionarRta(4)">{{pregunta.op4}}</button></div>
                </div>
            </div>
        </div>
    </div>
</div>